*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.r{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration-style: solid;
    color: antiquewhite;
    text-decoration-line: underline;
    padding-top:20px ;
}
.details{
    width:500px;
    font-weight: 3px;
    font-size: 25px;
    border: 4px double rgb(255, 255, 255);
    padding: 35px 100px;
    background-color: transparent;
    color: antiquewhite;
    margin-top: 30px;
    font-weight: bold;
}
.t{background-attachment: fixed;
    background-image:linear-gradient(rgba(0, 0, 0, 0.367), rgba(0, 0, 0, 0.75)), url('abc.jpg');

    background-size: cover;
    padding-left: 515px;
  
    
}
input[type='text'],[type='number'],[type='email']{
    width:300px;
    height: 30px;
    border-radius: 10px;
    border-width: 3px;
    border-color: aqua;
    font-size: large;
}
button[type='submit'],[type="b"]{
    font-weight: bold;
width:135px;
height:40px;
font-size: 20px;
background-color: aliceblue;
border-color:red;
border-width: 3px;
}
button[type='submit']:hover{
    background-color: black;
    color: white;
    border-color: blueviolet;
}
button[type='b']:hover{
    background-color: black;
    color: white;
    border-color: blueviolet;
}
.btn{
    display: flex;
    justify-content: space-between;
}